#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.pulsar {
    height: 1px;
    width: 1px;
    animation: pulse 4s infinite alternate ease-in-out;
    background: linear-gradient(45deg, red, blue, red);
}

@keyframes pulse {
    0% {
        height: 1px;
        width: 1px;
    }
    100% {
        height: 100%;
        width: 100%;
    }
}
