@import 'tailwindcss';

:root {
    font-family: 'Cascadia Code';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-void: #0b101b;
    --color-surface: #151f32;

    --color-neon-cyan: #22d3ee;
    --color-neon-mint: #34d399;

    --color-mist: #f8fafc;
    --color-stardust: #94a3b8;

    --color-error: #fb7185;
}
