@import 'tailwindcss';

:root {
    font-family: 'Cascadia Code';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-void: #0b101b;
    --color-surface: #151f32;

    --color-neon-cyan: #22d3ee;
    --color-neon-mint: #34d399;

    --color-mist: #f8fafc;
    --color-stardust: #94a3b8;

    --color-error: #fb7185;
}

@layer components {
    .neon-slider {
        @apply appearance-none bg-transparent cursor-pointer touch-none;
    }

    .neon-slider::-webkit-slider-runnable-track {
        @apply h-1 bg-slate-700 rounded-full;
    }

    .neon-slider::-moz-range-track {
        @apply h-1 bg-slate-700 rounded-full;
    }

    .neon-slider::-webkit-slider-thumb {
        @apply appearance-none h-5 w-5 rounded-full bg-cyan-300 -mt-2 border border-slate-900;
        box-shadow: 0 0 10px 2px rgba(34, 211, 238, 0.6);
        transition: transform 0.1s ease;
    }

    .neon-slider::-moz-range-thumb {
        @apply appearance-none h-5 w-5 rounded-full bg-cyan-300 -mt-2 border-2 border-slate-900;
        box-shadow: 0 0 10px 2px rgba(34, 211, 238, 0.6);
        transition: transform 0.1s ease;
    }

    .neon-slider:hover::-webkit-slider-thumb {
        transform: scale(1.1);
        box-shadow: 0 0 15px 4px rgba(34, 211, 238, 0.8);
    }
}
